<h1>
  検索結果
</h1>
<%# 検索結果の個数で条件分岐 %>
<% if @results.present?%>
  <% @results.each do |result| %>
    <%= link_to  product_path(result.id) do %>
      <%= image_tag result.image, class: "item-img" if result.image.attached? %>
        <% if result.order.present? %>
          <%# <div class='sold-out'> %>
            <span>Sold Out!!</span>
          <%# </div> %>
        <% end %>
    <% end %>
    <div class='item-info'>
    <h3 class='item-name'>
      <%= result.name %>
    </h3>
    <div class='item-price'>
      <span><%= result.price %>円<br>(税込み)</span>
    </div>
  <% end %>
<% else %>
  該当する商品はありません
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>